@define-color bg #eff1f5;
@define-color fg #4c4f69;
@define-color accent #8839ef;
@define-color surface #ccd0da;

* {
    font-family: 'Fira Code Nerd Font';
    font-size: 15px;
    color: @fg;
}

window#waybar {
    background-color: @bg;
}
#custom-random-wallpaper,
#clock,
#battery,
#language,
#pulseaudio,
#window {
	padding: 0em 0.7em;
	background-color: @surface;
	margin: 0.5em 0;
}
#clock { margin-right: 0.5em; }
#window { margin-left: 0.5em; }
